<html>
  <head>
    <title>{{title}}</title>
    <link
      rel="stylesheet"
      href="/Web Programming and framewrok 1/5315-project/styles/style.css"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap"
      rel="stylesheet"
    />
  </head>
  <body>
    <header
      style="background-color: #333; color: #fff; text-align: center; padding: 20px 0; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"
    >
      <h1>Restaurant Information Retrieval</h1>
    </header>
    <div
      class="content"
      style="padding: 20px; text-align: center; border: 1px solid #ccc; border-radius: 5px; box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);"
    >
      {{{body}}}
    </div>
    <footer
      style="background-color: #333; color: #fff; text-align: center; padding: 10px 0;"
    >
      <p>Contact: 1999.akshitnegi2@gmail.com</p>
    </footer>
  </body>
</html>