<div id="searchResults">
  {{#if restaurants}}
    {{#each restaurants}}
      <div class="restaurant">
        <h2>{{name}}</h2>
        <p>Borough: {{borough}}</p>
        <p>Cuisine: {{cuisine}}</p>
        <!-- Add more restaurant details as needed -->
      </div>
    {{/each}}
  {{else}}
    <p>No restaurants found.</p>
  {{/if}}
</div>